html {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  src: url("../font/Montserrat/Montserrat-Bold.woff");
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../font/Montserrat/Montserrat-Regular.woff");
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../font/Montserrat/Montserrat-SemiBold.woff");
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url("../font/Montserrat/Montserrat-Medium.woff");
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url("../font/Montserrat/Montserrat-ExtraBold.woff");
  font-family: "Montserrat";
  font-weight: 800;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --def-color: #f90;
  --hover-color: #ffb84d;
  --active-color: #e1670e;
  --very-important-special-green-color: #97ee3f;
  --white: #fff;
  --cross-color: #cacaca;
  --grey: #666;
  --black: #000;
  --half-black: rgba(0, 0, 0, 0.5);
  --input-background: #414141;
}

.cross {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: var(--cross-color);
  transition: outline-color 0.3s ease;
  cursor: pointer;
}

.cross path {
  transition: stroke 0.3s ease;
}

.cross:focus {
  outline: 1px solid var(--def-color);
}

.cross:hover path {
  stroke: var(--def-color);
}

.cross:active {
  outline: none;
}

.cross:active path {
  stroke: var(--black);
}

.link {
  outline: 3px solid var(--def-color);
  border-radius: 16px;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  background-color: transparent;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
  cursor: pointer;
}

.link:focus {
  outline: none;
  background-color: var(--def-color);
}

.link:hover {
  outline: none;
  background-color: var(--def-color);
}

.link:active {
  outline: none;
  background-color: var(--active-color);
}

.button {
  border: none;
  border-radius: 16px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  background-color: var(--def-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:focus {
  background-color: var(--hover-color);
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  background-color: var(--active-color);
}

.button_grey {
  outline: 1px solid var(--black);
  font-weight: 400;
  color: var(--black);
  background-color: transparent;
  transition: outline-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.button_grey:focus {
  outline: none;
  color: var(--white);
  background-color: var(--grey);
}

.button_grey:hover {
  outline: none;
  color: var(--white);
  background-color: var(--grey);
}

.button_grey:active {
  outline: none;
  color: var(--white);
  background-color: var(--black);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.header {
  margin-bottom: 50px;
  border-radius: 0 0 32px 32px;
  padding: 12px 0;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__menu {
  position: relative;
  display: none;
  width: 30px;
  height: 3px;
  background-color: #000;
  transform: translateY(-100%);
}

.header__menu::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  transform: translateY(10px);
}

.header__menu::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  transform: translateY(-10px);
}

.header__link {
  margin-right: auto;
}

.nav {
  margin-right: 260px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  transition: outline-color 0.3s ease;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  border: 1px solid var(--def-color);
  opacity: 0;
  transition: opacity 2s ease;
}

.nav__link:focus {
  outline: 1px solid var(--def-color);
  outline-offset: 5px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  outline: none;
  color: var(--active-color);
}

.nav__link:active::after {
  opacity: 0;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transition: outline-color 0.3s ease;
  cursor: pointer;
}

.header__search svg {
  width: 100%;
  height: 100%;
}

.header__search rect {
  fill: var(--black);
  transition: fill 0.3s ease;
}

.header__search path {
  stroke: var(--black);
  transition: stroke 0.3s ease;
}

.header__search:focus {
  outline: 1px solid var(--def-color);
}

.header__search:hover path {
  stroke: var(--def-color);
}

.header__search:hover rect {
  fill: var(--def-color);
}

.header__search:active path {
  stroke: var(--def-color);
}

.header__search:active rect {
  fill: var(--def-color);
}

.hero {
  margin-bottom: 50px;
  border-radius: 32px;
  padding: 100px 80px;
  background-image: url("../img/1920-hero-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin: 0 0 24px;
  width: 51%;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.hero__subtitle {
  margin-bottom: 90px;
  width: 51%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.hero__button {
  padding: 25px 35px;
  font-size: 24px;
  line-height: 28px;
}

.about {
  margin-bottom: 101px;
}

.about__title {
  margin-bottom: 22px;
}

.about__text {
  margin-bottom: 48px;
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__promo {
  display: flex;
  width: 100%;
}

.about__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
  border-radius: 32px;
  width: calc(50% - 16px);
  background-image: url("../img/1920-promo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about__picture {
  display: none;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  padding: 50px;
  background-color: var(--half-black);
}

.about__button {

}

.about__info {
  margin: 0;
  width: calc(50% + 50px);
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.about__cards {
  width: calc(50% - 16px);
}

.card {
  border: 1px solid var(--cross-color);
  border-radius: 32px;
  padding: 64px 115px 63px 298px;
  background-position: 58px 64px;
  background-size: auto;
  background-repeat: no-repeat;
}

.card:not(:last-child) {
  margin-bottom: 32px;
}

.about__card_first {
  background-image: url("../img/card_1.svg");
}

.about__card_second {
  background-image: url("../img/card_2.svg");
}

.card__title {
  margin: 0 0 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.how {
  margin-bottom: 112px;
}

.how__title {
  margin-bottom: 50px;
}

.how__steps {
  display: flex;
  margin-bottom: 45px;
}

.how__step {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: outline-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.how__step:not(:last-child) {
  margin-right: 85px;
}

.how__step:focus {
  outline: 1px solid var(--def-color);
}

.how__step:hover {
  color: var(--def-color);
}

.how__step:active {
  outline: none;
  color: var(--active-color);
}

.how__wrapper {
  display: flex;
  width: 100%;
}

.how__item {
  position: relative;
}

.how__item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  bottom: 0;
  border-radius: 32px;
  width: calc(50% - 16px);
  background-image: url("../img/1920-how-1.png");
  background-position: center;
  background-size: cover;
}

.how__subtitle {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.how__text {
  margin: 0 0 17px;
  padding-right: 113px;
  width: calc(50% - 16px);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.how__actions {
  display: flex;
  justify-content: flex-start;
}

.how__button {
  margin-right: 34px;
}

.how__picture {
  padding-top: 9px;
  width: calc(50% - 16px);
}

.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq__btn:not(:first-child) {
  margin-top: -1px;
  border-top: 1px solid transparent;
}

.faq__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--cross-color);
  border-bottom: 1px solid var(--cross-color);
  padding: 30px 0;
  width: 100%;
  transition: border-top-color 0.3s ease, border-bottom-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.faq__btn:focus {
  border-top: 1px solid var(--def-color);
  border-bottom: 1px solid var(--def-color);
  color: var(--def-color);
}

.faq__expand {
  position: relative;
  flex: 0 0 auto;
  margin-left: 120px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: var(--cross-color);
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.faq__expand::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: currentcolor;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.faq__expand::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 70%;
  background-color: currentcolor;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.faq__btn:focus .faq__expand {
  color: #fff;
  background-color: var(--def-color);
}

.faq__btn:hover {
  border-top: 1px solid var(--def-color);
  border-bottom: 1px solid var(--def-color);
  color: var(--def-color);
}

.faq__btn:hover .faq__expand {
  background-color: var(--def-color);
}

.faq__btn:hover .faq__expand::after {
  background-color: var(--white);
}

.faq__btn:hover .faq__expand::before {
  background-color: var(--white);
}

.faq__btn:active {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  color: var(--black);
}

.faq__btn:active .faq__expand {
  background-color: var(--cross-color);
  transform: rotate(45deg);
}

.faq__btn:active .faq__expand::after {
  background-color: var(--black);
}

.faq__btn:active .faq__expand::before {
  background-color: var(--black);
}

.faq__pre-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.faq__content {
  display: none;
}

.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 14px;
  width: 100%;
  gap: 32px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  width: calc((100% - ((32px * 2) / 3)) / 3);
}

.footer__link {
  margin-bottom: 16px;
}

.footer__center {
  display: flex;
  flex-direction: column;
  width: calc((100% - ((26px * 2) / 3)) / 3);
  transform: translateX(3px);
}

.footer__input {
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  background-color: var(--input-background);
  transition: background-color 0.3s ease;
}

.footer__input:not(:last-child) {
  margin-bottom: 25px;
}

.footer__input:focus {
  outline: none;
  border: none;
  background-color: var(--grey);
}

.footer__input:hover {
  background-color: var(--grey);
}

.footer__input:active {
  outline: none;
  border: none;
  background-color: var(--grey);
}

.footer__title {
  margin-bottom: 23px;
  color: var(--cross-color);
}

.footer__right {
  padding-left: 210px;
  width: calc((100% - ((32px * 2) / 3)) / 3);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--cross-color);
}

.footer__nav {
  margin-bottom: 88px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--cross-color);
  transition: color 0.3s ease, outline-color 0.3s ease;
  cursor: pointer;
}

.footer__nav-link:focus {
  outline: 1px solid var(--def-color);
}

.footer__nav-link:hover {
  color: var(--def-color);
}

.footer__nav-link:active {
  outline: none;
  color: var(--active-color);
}

.footer__social {
  display: flex;
  gap: 25px;
}

.footer__icon path {
  width: 60px;
  height: 60px;
  fill: var(--grey);
  transition: fill 0.3s ease;
}

.footer__icon:focus {
  outline: 1px solid var(--def-color);
}

.footer__icon:hover path {
  fill: var(--def-color);
}

.footer__icon:active {
  outline: none;
}

.footer__icon:active path {
  fill: var(--active-color);
}

.footer__button {
  margin-right: 18px;
  padding: 20px 52px;
}

.footer__label {
  cursor: pointer;
}

.footer__input_allow {
  display: none;
}

.footer__checkbox {
  position: relative;
  display: inline-block;
  border: 1px solid var(--cross-color);
  border-radius: 2px;
  width: 14px;
  height: 14px;
}

.footer__checkbox::after {
  content: "";
  position: absolute;
  background-image: url("../img/allow.svg");
  background-position-y: 1px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  inset: 0;
}

.footer__input_allow:checked + .footer__checkbox::after {
  opacity: 1;
}

.footer__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--cross-color);
}
